.heroContainer{
    max-width: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}
.heroDescription {
  /* margin-left: 200px; */
  padding-top: 40px;
  padding-left: 10px;
}
.description {
  font-size: 14px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  color: #333333;
  color: grey;
  text-shadow: 1px 1px 1px black;

}
.descriptionb {
  color: #333333;
  font-weight: bolder;
  font-size: 12px;
  color: grey;
  text-shadow: 1px 1px 1px black;

}

  .heroBtn {
    margin-left: 100px;
    margin-top: 50px;
    width: 60px;
    height: 30px;
    background: #43D5CB;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700px;
    font-size: 10px;
    padding-left: 10px;
    color: #FCFEFE;}

    .heroBtnSpan {

      width: 40px;
      height: 30px;
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: -60px;
      color: white;
      font-size: 30px;
      background: #37c7be;
    }

    .btnContainer {
      display: flex;
      flex-direction: row;
      margin-left: -90px;
      padding-bottom:10px ;

    }
    .topSearches{
      font-size: 12px;
      font-style: italic;

    }



    @media only screen and (min-width: 481px) and (max-width: 1024px) { 
      .heroContainer {

        padding: 0;
        max-width: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-size: cover;
    }
            .heroDescription {
              /* margin-left: 200px; */
              padding-top: 120px;
              padding-left: 100px;
            }
        
            .description {
              font-size: 40px;
              width:400px;
              display: flex;
              align-items: center;
    
              color: #333333;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);;}
        
              .descriptionb {
                color: #333333;
                width:500px;
    
                font-size: 30px;}
      
          .heroBtn {
              margin-left: 100px;
              margin-top: 50px;
              width: 180px;
              height: 76px;
              background: #43D5CB;
              border: none;
              font-family: 'Inter';
              font-style: normal;
              font-weight: 700px;
              font-size: 18px;
              padding-left: 10px;
              color: #FCFEFE;}
          
              .heroBtnSpan {
          
                width: 69px;
                height: 76px;
                margin-top: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: -60px;
                color: white;
                font-size: 30px;
                background: #37c7be;
              }
          
              .btnContainer {
                display: flex;
                flex-direction: row;
                margin-left: 0px;
          
              }
              .topSearches{
                max-width: 100%;
                width:100%;
                font-size: 14px;
                color: dodgerblue

              }
          
        
    
    }
    

@media only screen and (min-width: 1200px) {

.heroContainer {

    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
  height: 600px;
}
        .heroDescription {
          /* margin-left: 200px; */
          padding-top: 120px;
          padding-left: 100px;
        }
        .topSearches{
          max-width: 100%;
          width:100%;
          color:dodgerblue;
          font-size: 16px;
      
        }
    
    
        .description {
          font-size: 60px;
          width:400px;
          display: flex;
          align-items: center;

          color: #333333;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);}
    
          .descriptionb {
            color: #333333;
            width:500px;
font-style: italic;
            font-size: 40px;}
  
      .heroBtn {
          margin-left: 190px;
          margin-top: 50px;
          width: 180px;
          height: 76px;
          background: #43D5CB;
          border: none;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700px;
          font-size: 18px;
          padding-left: 10px;
          color: #FCFEFE;}
      
          .heroBtnSpan {
      
            width: 69px;
            height: 76px;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: -60px;
            color: white;
            font-size: 30px;
            background: #37c7be;
          }
      
          .btnContainer {
            display: flex;
            flex-direction: row;
      
          }
        }