.hospitalCardContainer{
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.2);
    height:100px;
width: 150px;
margin-bottom: 70px;
      
}
.imageContainer{
height: 100px;

background-size: cover;
background-position: center;}
.hospitalName{
    font-size: 12px;
    color:grey;
    font-size: bold;
    display: flex;
    justify-content: center;

}
.locationContainer{
font-size: 12px;
font-style: italic;
display: flex;
justify-content: center;
color: grey;

}
.hosCardsContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 20px;
}
    @media only screen and (min-width: 481px) and (max-width: 1024px) { 
        .hosCardsContainer{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            margin-left: 20px;
            
        }
        .hospitalName{
            font-size: 14px;
            color:grey;
            font-size: bold;
            display: flex;
            justify-content: center;
            font-weight: bolder;
        
        }
        .locationContainer{
        font-size: 12px;
        font-style: italic;
        display: flex;
        justify-content: center;
        color: grey;
        font-weight: bolder;
        
        }
        
        
    }
    @media only screen and (min-width: 1200px) {
        .hosCardsContainer{
            display: grid;
            grid-template-columns: repeat(6,1fr);
            margin-left: 50px;
            
        }

    }