.overlay{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}



.popup{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    background-color: white;
    z-index:  2;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box,
}
.title{
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.form{
    display: flex;
			flex-direction: column;
			align-items: center;
			margin: 20px auto;
			padding: 20px;
			border: 1px solid #ccc;
			border-radius: 5px;
			max-width: 500px;
			background-color: #f7f7f7;
}
.text,
		input[type="number"],
		input[type="password"],
		select,
		textarea {
			width: 100%;
			padding: 10px;
			margin: 10px 0;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
			font-size: 12px;
		}
        input[type="submit"] {
			background-color: #43D5CB;
			color: white;
			padding: 12px 20px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			font-size: 12px;
            font-weight: bolder;
            margin-top: 20px;
		}
		input[type="submit"]:hover {
			background-color: white;
            color:#43D5CB;
		}
        label{
            font-size: 12px;
        }
        .cancel{
            background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
        }
        .form{
            width:100%;
            max-width: 100%;
        }